@{
    ViewBag.Title = "Add Client";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel">

    <div id="tabs">
        <ul>
            <li><a href="#tab-1"><span>Client Basic Info</span></a></li>
            <li><a href="#tab-2"><span>Administration</span></a></li>
            <li><a href="#tab-3"><span>Sister Concern</span></a></li>
        </ul>
        <div id="tab-1">
            <table>
                <tr>
                    <td>
                        <label>Name</label>
                    </td>
                    <td>
                        <input type="text" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Address</label>
                    </td>
                    <td>
                        <textarea cols="50" rows="5"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Corporate Address</label>
                    </td>
                    <td>
                        <textarea cols="50" rows="5"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Factory Address</label>
                    </td>
                    <td>
                        <textarea cols="50" rows="5"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Nature of Business</label>
                    </td>
                    <td>
                        <select>
                            <option>SELECT</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Nature of Constitution</label>
                    </td>
                    <td>
                        <select>
                            <option>SELECT</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Date of Incorporation</label>
                    </td>
                    <td>
                        <input type="text" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Products</label>
                    </td>
                    <td>
                        <textarea cols="50" rows="5"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Authorized Capital</label>
                    </td>
                    <td>
                        <input type="text" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Paid-up Capital</label>
                    </td>
                    <td>
                        <input type="text" />
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <button>Save</button>
                        <button>Cancel</button>
                    </td>
                </tr>
            </table>
        </div>
        <div id="tab-2">
            <table>
                <tr>
                    <td>
                        <label>Name</label>
                    </td>
                    <td>
                        <input type="text" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Father's Name</label>
                    </td>
                    <td>
                        <input type="text" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Mother's Name</label>
                    </td>
                    <td>
                        <input type="text" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Address</label>
                    </td>
                    <td>
                        <textarea cols="50" rows="5"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Age</label>
                    </td>
                    <td>
                        <input type="text" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Education</label>
                    </td>
                    <td>
                        <input type="text" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Background Details</label>
                    </td>
                    <td>
                        <textarea cols="50" rows="5"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Business Experience</label>
                    </td>
                    <td>
                        <input type="text" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Position</label>
                    </td>
                    <td>
                        <input type="text" />
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <button>Save</button>
                        <button>Cancel</button>
                    </td>
                </tr>
            </table>
        </div>
        <div id="tab-3">
           <table>
                <tr>
                    <td>
                        <label>Name</label>
                    </td>
                    <td>
                        <input type="text" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Address</label>
                    </td>
                    <td>
                        <textarea cols="50" rows="5"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>National ID No</label>
                    </td>
                    <td>
                        <input type="text" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Holding Shares</label>
                    </td>
                    <td>
                        <input type="text" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Percentage</label>
                    </td>
                    <td>
                       <input type="text" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>PNW</label>
                    </td>
                    <td>
                        <input type="text" />
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <button>Save</button>
                        <button>Cancel</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {

        // Initialize tabs
        $("#tabs").tabs();
    });

</script>
