@{
    ViewBag.Title = "Add Client";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="indicator"></div>
<div style="display: none;" id="loggedInUserId">@ViewBag.LoggedInUserId</div>

<div class="panel">

    <div id="tabs">
        <ul>
            <li><a href="#tab-1"><span>Client Basic Info</span></a></li>
            <li><a href="#tab-2"><span>Administration</span></a></li>
            <li><a href="#tab-3"><span>Sister Concern</span></a></li>
        </ul>
        <div id="tab-1">
            <table>
                <tr style="display: none;">
                    <td>Id:</td>
                    <td>
                        <input id="txtClientId" type="text" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Name</label>
                    </td>
                    <td>
                        <input type="text" id="txtClientName" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Address</label>
                    </td>
                    <td>
                        <textarea id="txtClientAddress" cols="50" rows="5"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Corporate Address</label>
                    </td>
                    <td>
                        <textarea id="txtClientCorporateAddress" cols="50" rows="5"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Factory Address</label>
                    </td>
                    <td>
                        <textarea id="txtClientFactoryAddress" cols="50" rows="5"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Nature of Business</label>
                    </td>
                    <td style="padding-bottom: 4px;">
                        <input type="checkbox" name="client-business-nature" value="Importer" />Importer<br>
                        <input type="checkbox" name="client-business-nature" value="Exporter" />Exporter<br>
                        <input type="checkbox" name="client-business-nature" value="Wholesaler" />Wholesaler<br>
                        <input type="checkbox" name="client-business-nature" value="Manufacturer" />Manufacturer<br>
                        <input type="checkbox" name="client-business-nature" value="Distributor" />Distributor<br>
                        <input type="checkbox" name="client-business-nature" value="Contractor" />Contractor<br>
                        <input type="checkbox" name="client-business-nature" value="Supplier" />Supplier<br>
                        <input type="checkbox" name="client-business-nature" value="Developer" />Developer<br>
                        <input type="checkbox" name="client-business-nature" value="Stockiest" />Stockiest<br>
                        <input type="checkbox" name="client-business-nature" value="Retailer" />Retailer<br>
                        <input type="checkbox" name="client-business-nature" value="100% Garments Industry" />100% Garments Industry<br>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Nature of Constitution</label>
                    </td>
                    <td style="padding-bottom: 4px;">
                        <input type="checkbox" name="client-constitution-nature" value="Limited Company" />Limited Company<br>
                        <input type="checkbox" name="client-constitution-nature" value="Partnership" />Partnership<br>
                        <input type="checkbox" name="client-constitution-nature" value="Proprietorship" />Proprietorship<br>
                        <input type="checkbox" name="client-constitution-nature" value="Others" />Others<br>                        
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Date of Incorporation</label>
                    </td>
                    <td>
                        <input type="text" id="dpClientIncorporationDate" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Products</label>
                    </td>
                    <td>
                        <textarea id="txtClientProducts" cols="50" rows="5"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Authorized Capital</label>
                    </td>
                    <td>
                        <input id="txtClientAuthorizedCapital" type="text" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Paid-up Capital</label>
                    </td>
                    <td>
                        <input id="txtClientPaidupCapital" type="text" />
                    </td>
                </tr>
            </table>
            <table>
                <tr>
                    <td>
                        <input name="submit" type="submit" value="Save Client" id="create-client-button" class="fg-button ui-state-default" />
                    </td>
                    <td>
                        <div id="client-message"></div>
                    </td>
                </tr>
            </table>
        </div>
        <div id="tab-2">
            <table>
                <tr>
                    <td>
                        <label>Name</label>
                    </td>
                    <td>
                        <input id="txtAdminName" type="text" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Father's Name</label>
                    </td>
                    <td>
                        <input id="txtAdminFatherName" type="text" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Mother's Name</label>
                    </td>
                    <td>
                        <input id="txtAdminMotherName" type="text" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Address</label>
                    </td>
                    <td>
                        <textarea id="txtAdminAddress" cols="50" rows="5"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Age</label>
                    </td>
                    <td>
                        <input id="txtAdminAge" type="text" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Education</label>
                    </td>
                    <td>
                        <input id="txtAdminEducation" type="text" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Background Details</label>
                    </td>
                    <td>
                        <textarea id="txtAdminBackgroundDetails" cols="50" rows="5"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Business Experience</label>
                    </td>
                    <td>
                        <input id="txtAdminBusinessExperience" type="text" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Position</label>
                    </td>
                    <td>
                        <input id="txtAdminPosition" type="text" />
                    </td>
                </tr>
            </table>
            <table>
                <tr>
                    <td>
                        <input name="submit" type="submit" value="Save" id="create-client-admin-info-button" class="fg-button ui-state-default" />
                    </td>
                    <td>
                        <div id="client-admin-info-message"></div>
                    </td>
                </tr>
            </table>
        </div>
        <div id="tab-3">
            <table>
                <tr>
                    <td>
                        <label>Name</label>
                    </td>
                    <td>
                        <input id="txtSisterName" type="text" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Address</label>
                    </td>
                    <td>
                        <textarea id="txtSisterAddress" cols="50" rows="5"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>National ID No</label>
                    </td>
                    <td>
                        <input id="txtSisterNationalID" type="text" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Holding Shares</label>
                    </td>
                    <td>
                        <input id="txtSisterHoldingShare" type="text" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Percentage</label>
                    </td>
                    <td>
                        <input id="txtSisterPercentage" type="text" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>PNW</label>
                    </td>
                    <td>
                        <input id="txtSisterPNW" type="text" />
                    </td>
                </tr>
            </table>
            <table>
                <tr>
                    <td>
                        <input name="submit" type="submit" value="Save" id="create-client-sister-concern-button" class="fg-button ui-state-default" />
                    </td>
                    <td>
                        <div id="client-sister-concern-message"></div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        // Initialize tabs
        $("#tabs").tabs();
        //initially enable first tab. If any client is created then enable other tabs
        //$("#tabs").tabs({ disabled: [1, 2] });

        // Initialize date picker
        $("#dpClientIncorporationDate").datepicker();

        // Create client
        $("#create-client-button").click(function (e) {
            e.preventDefault();

            var key = $("#txtClientId").val();
            var id = key ? key : 0;
           
            var name = $("#txtAdminName").val();
            var address = $("#txtClientAddress").val();
            var authorizedCapital = $("#txtClientAuthorizedCapital").val();
            var corporateAddress = $("#txtClientCorporateAddress").val();
            var factoryAddress = $("#txtClientFactoryAddress").val();
            var paidupCapital = $("#txtClientPaidupCapital").val();
            var products = $("#txtClientProducts").val();
            var profit = $("#txtProfit").val();
            var incorporateDate = $("#dpClientIncorporationDate").val();

            var natureOfBusinessVals = $.map($('input:checkbox[name="client-business-nature"]:checked'), function (a) { return a.value; });
            var natureOfBusiness = natureOfBusinessVals.join('|');

            var natureOfConstitutionVals = $.map($('input:checkbox[name="client-constitution-nature"]:checked'), function (a) { return a.value; });
            var natureOfConstitution = natureOfConstitutionVals.join('|');

            // Prepare the department object
            var clientInfo = {
                ClientId: id, Name: name, Address: address, CorporateAddress: corporateAddress, FactoryAddress: factoryAddress,
                BusinessNature: natureOfBusiness, ConstitutionNature: natureOfConstitution,
                IncorporationDate: incorporateDate, Products: products, AuthorizedCapital: authorizedCapital, PaidupCapital: paidupCapital,
                BranchId: 1
            };

            // Show loader
            showActionLoader(true, 'Saving Client Information');

            // Ajax call
            $.ajax({
                type: "POST",
                url: "@Url.Action("SaveClientInfo", "Client")",
                data: clientInfo,
                cache: false,
                dataType: "json",
                success: function (data) {

                    // Newly created credit id
                    $('#txtClientId').value = data.ClientId;

                    // Hide loader
                    showActionLoader(false);

                    // Clear data
                    clearClientData();

                    // Show message
                    $('#client-message').html('Client info has been created successfully!').addClass('success-message').show();
                    setTimeout(function () {
                        $('#client-message').html('').removeClass('success-message').hide();
                    }, 5000);

                },
                Error: function () {
                    showError("Error to execute ajax call");
                }
            });
        });

        //

        // Create Client admin
        $("#create-client-admin-info-button").click(function (e) {
            e.preventDefault();         
            var name = $("#txtAdminName").val();
            var fatherName = $("#txtAdminFatherName").val();
            var motherName = $("#txtAdminMotherName").val();
            var address = $("#txtAdminAddress").val();
            var age = $("#txtAdminAge").val();
            var education = $("#txtAdminEducation").val();
            var backgroundDetails = $("#txtAdminBackgroundDetails").val();
            var businessExperience = $("#txtAdminBusinessExperience").val();
            var position = $("#txtAdminPosition").val();            

            // Prepare the department object
            var clientAdminInfo = {
                AdminId: 0, Name: name, Address: address, FatherName: fatherName,
                MotherName: motherName, Age: age,
                Education: education, BackgroundDetails: backgroundDetails, BusinessExperience: businessExperience, Position: position,
                ClientId: 1
            };

            // Show loader
            showActionLoader(true, 'Saving Client Administration Information');

            // Ajax call
            $.ajax({
                type: "POST",
                url: "@Url.Action("SaveClientAdminInfo", "Client")",
                data: clientAdminInfo,
                cache: false,
                dataType: "json",
                success: function (data) {

                    // Newly created credit id
                    //$('#txtClientId').value = data.ClientId;

                    // Hide loader
                    showActionLoader(false);

                    // Clear data
                    clearClientAdminData();

                    // Show message
                    $('#client-admin-info-message').html('Client Admin info has been created successfully!').addClass('success-message').show();
                    setTimeout(function () {
                        $('#client-admin-info-message').html('').removeClass('success-message').hide();
                    }, 5000);

                },
                Error: function () {
                    showError("Error to execute ajax call");
                }
            });
        });


        // Create Client sister concern
        $("#create-client-sister-concern-button").click(function (e) {
            e.preventDefault();          

            var name = $("#txtSisterName").val();            
            var address = $("#txtSisterAddress").val();
            var holdingShare = $("#txtSisterHoldingShare").val();
            var nationalId = $("#txtSisterNationalID").val();
            var percentage = $("#txtSisterPercentage").val();
            var pnw = $("#txtSisterPNW").val();            

            // Prepare the department object
            var clientSisterConcernInfo = {
                SisterConcernId: 0, Name: name, Address: address, NationalId: nationalId,
                HoldingShares: holdingShare, Percentage: percentage, PNW: pnw, 
                ClientId: 1
            };

            // Show loader
            showActionLoader(true, 'Saving Client Sister Concern Information');

            // Ajax call
            $.ajax({
                type: "POST",
                url: "@Url.Action("SaveClientSisterConcernInfo", "Client")",
                data: clientSisterConcernInfo,
                cache: false,
                dataType: "json",
                success: function (data) {

                    // Newly created credit id
                    //$('#txtClientId').value = data.ClientId;

                    // Hide loader
                    showActionLoader(false);

                    // Clear data
                    clearClientSisterConcernData();

                    // Show message
                    $('#client-sister-concern-message').html('Client Admin info has been created successfully!').addClass('success-message').show();
                    setTimeout(function () {
                        $('#client-sister-concern-message').html('').removeClass('success-message').hide();
                    }, 5000);

                },
                Error: function () {
                    showError("Error to execute ajax call");
                }
            });
        });

    });

    function clearClientData() {
        txtClientName.value = "";
        txtClientAddress.value = "";
        txtClientAuthorizedCapital.value = "";
        txtClientCorporateAddress.value = "";
        txtClientFactoryAddress.value = "";
        txtClientPaidupCapital.value = "";
        txtClientProducts.value = "";
        dpClientIncorporationDate.valu = "";
        $(':checkbox').prop('checked', false);
        $('#dpClientIncorporationDate').val("");
    }

    function clearClientAdminData() {
        txtAdminName.value = "";
        txtAdminFatherName.value = "";
        txtAdminMotherName.value = "";
        txtAdminAddress.value = "";
        txtAdminAge.value = "";
        txtAdminEducation.value = "";
        txtAdminBackgroundDetails.value = "";
        txtAdminBusinessExperience.value = "";
        txtAdminPosition.value = "";
    }

    function clearClientSisterConcernData() {
        txtSisterAddress.value = "";
        txtSisterHoldingShare.value = "";
        txtSisterName.value = "";
        txtSisterNationalID.value = "";
        txtSisterPercentage.value = "";
        txtSisterPNW.value = "";       
    }

</script>
