@{
    ViewBag.Title = "AddBranch";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table>
    <tr>
        <td>
            <label>Name</label>
        </td>
        <td>
            <input type="text" />
        </td>
    </tr>
    <tr>
        <td>
            <label>Address</label>
        </td>
        <td>
            <textarea cols="50" rows="5"></textarea>
        </td>
    </tr>
    <tr>
        <td>
            <label>Deposit</label>
        </td>
        <td>
            <input type="text" />
        </td>
    </tr>
    <tr>
        <td>
            <label>N & L Cost Deposit</label>
        </td>
        <td>
            <input type="text" />
        </td>
    </tr>
    <tr>
        <td>
            <label>Advance</label>
        </td>
        <td>
            <input type="text" />
        </td>
    </tr>
    <tr>
        <td>
            <label>Classified Amount</label>
        </td>
        <td>
            <input type="text" />
        </td>
    </tr>
    <tr>
        <td>
            <label>WOL</label>
        </td>
        <td>
            <input type="text" />
        </td>
    </tr>
    <tr>
        <td>
            <label>Profit</label>
        </td>
        <td>
            <input type="text" />
        </td>
    </tr>
    <tr>
        <td>
            <label>Manpower</label>
        </td>
        <td>
            <input type="text" />
        </td>
    </tr>
    <tr>
        <td>
            
        </td>
        <td>
            <button>Save</button>
            <button>Cancel</button>
        </td>
    </tr>
</table>
